<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698131877319-8hnppq21146usvgmts6n51b27go23dce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698131877319-8hnppq21146usvgmts6n51b27go23dce</string>
	<key>API_KEY</key>
	<string>AIzaSyAC-xwXO_Y3EnnbtBx0b05JfLfT68Bp_mc</string>
	<key>GCM_SENDER_ID</key>
	<string>698131877319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alex.Smack</string>
	<key>PROJECT_ID</key>
	<string>smack-27cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>smack-27cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698131877319:ios:da261512de6066c7029de2</string>
	<key>DATABASE_URL</key>
	<string>https://smack-27cfc.firebaseio.com</string>
</dict>
</plist>